@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-glam {
    background-color: #f472b6;
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
    border: none;
}

.btn-glam:hover {
    background-color: #ec4899;
    transform: scale(1.03);
}


body {
    background-color: #fffafc;
}

h1, h2, h3 {
    color: #db2777; }
